POSTGRES_PASSWORD=postgres_dev_pass
REDIS_PASSWORD=redis_dev_pass
MONGO_INITDB_ROOT_PASSWORD=mongo_dev_pass


BOOTSTRAP_ADMIN_EMAIL=admin@example.com
BOOTSTRAP_ADMIN_PASSWORD=AdminPass123!
BOOTSTRAP_RESEARCHER_EMAIL=researcher@example.com
BOOTSTRAP_RESEARCHER_PASSWORD=ResearchPass123!
