
# moon
.moon/cache
.moon/docker

# compute service

apps/compute/target
apps/compute/**/inputs/

# General stuff

.env

# Docker volumes
db-data/
cache/
mongo-data/
iggy/

# Profiling artifacts
flamegraph.svg
perf.data*
